html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
#root,#cesiumContainer {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  width: 100%;
  height: 100%;
  overflow: hidden;
}